HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Java & Spring Boot ###
*.class
*.jar
*.war
*.ear
*.log

### Spring Config ###
application-dev.properties
application-prod.properties
application-test.properties
application-secret.properties

### Env & Credentials ###
.env
.env.*
*.bak
*.local
*.key
*.pem
*.crt

### Docker ###
.docker/
docker-compose.override.yml
docker-compose.local.yml
Dockerfile.*
*.tar
*.pid

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# 서버 IP 이름으로 생긴 파일/폴더 예방
**/ubuntu@*

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
__MACOSX/
.DS_Store?